body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightskyblue;
}

#root {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#quote-box {
  width: 50%;
  padding: 2em;
  margin-top: -4rem;
  text-align: center;
  background-color: white;
}

#author {
  text-align: right;
}

.btn, .btn:hover, btn:visited, btn:active {
  background-color: lightskyblue;
  border-radius: unset;
  border: none;
  box-shadow: none;
}

#new-quote {
  float: right;
}

#tweet-quote {
  float: left;
}






